<a href="https://colab.research.google.com/github/nsaedae/Colab/blob/master/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/4_%EB%A1%9C%EC%A7%80%EC%8A%A4%ED%8B%B1_%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"""
날짜 : 2022/05/02
이름 : 김철학
내용 : 로지스틱 회귀분석 실습
"""
from sklearn.linear_model import LogisticRegression

In [3]:
#학습데이터
train_data = [[42, 27], [36, 76], [28, 72], [63, 45], [59, 37]]
train_label = [1, 2, 2, 1, 1]

In [4]:
#학습하기
model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [5]:
#테스트하기
test_data = [[46, 62], [27, 45], [37, 51]]
result = model.predict(test_data)
result

array([2, 1, 1])

In [13]:
#############################################
#로지스틱 연습문제
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
#iris 데이터셋 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/iris.csv')
df_iris

In [19]:
#학습 데이터, 라벨 분류
iris_data = df_iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
iris_label = df_iris['variety']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, train_size=0.8)
train_data

     sepal.length  sepal.width  petal.length  petal.width
114           5.8          2.8           5.1          2.4
137           6.4          3.1           5.5          1.8
94            5.6          2.7           4.2          1.3
2             4.7          3.2           1.3          0.2
22            4.6          3.6           1.0          0.2
..            ...          ...           ...          ...
85            6.0          3.4           4.5          1.6
12            4.8          3.0           1.4          0.1
129           7.2          3.0           5.8          1.6
13            4.3          3.0           1.1          0.1
98            5.1          2.5           3.0          1.1

[120 rows x 4 columns]

In [20]:
#학습하기
model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [21]:
#테스트하기
result = model.predict(test_data)
result

array(['Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Virginica',
       'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Virginica', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa'], dtype=object)

In [22]:
#성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9