<a href="https://colab.research.google.com/github/nsaedae/Colab/blob/master/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/5_%EC%84%9C%ED%8F%AC%ED%8A%B8_%EB%B2%A1%ED%84%B0_%EB%A8%B8%EC%8B%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 2022/05/03
이름 : 김철학
내용 : 서포트 벡터 머신 실습
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
################ XOR 머신러닝 #########################
#학습데이터
train_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
train_label = [0, 1, 1, 0]

In [5]:
#학습
#model = LogisticRegression()
model = svm.SVC()
model.fit(train_data, train_label)

SVC()

In [6]:
#테스트
test_data = [[0, 1], [1, 1]]
result = model.predict(test_data)
result

array([1, 0])

In [ ]:
################ iris 머신러닝 #########################
#데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/iris.csv')
df_iris

In [ ]:
#학습 데이터, 라벨 분류
iris_data = df_iris.iloc[:, 0:4]
iris_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, train_size=0.8)
train_data

In [54]:
#학습
model = svm.SVC()
#model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [55]:
#테스트
result = model.predict(test_data)
result

array(['Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Virginica',
       'Versicolor', 'Setosa', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Virginica', 'Virginica',
       'Virginica', 'Setosa', 'Virginica', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Virginica', 'Virginica', 'Virginica',
       'Setosa', 'Virginica', 'Setosa', 'Setosa', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Setosa', 'Virginica',
       'Versicolor', 'Versicolor', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Virginica', 'Virginica', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Virginica',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor'], dtype=object)

In [56]:
#성능평가
score = metrics.accuracy_score(result, test_label)
score

0.8444444444444444

In [58]:
################ pima-indian 머신러닝 #########################
#데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [81]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]

pima_train_data, pima_test_data, pima_train_label, pima_test_label = train_test_split(pima_data, pima_label, test_size=0.8)
pima_train_data

     0    1   2   3    4     5      6   7
151  4  114  65   0    0  21.9  0.432  37
742  1  109  58  18  116  28.5  0.219  22
710  3  158  64  13  387  31.2  0.295  24
650  1   91  54  25  100  25.2  0.234  23
416  1   97  68  21    0  27.2  1.095  22
..  ..  ...  ..  ..  ...   ...    ...  ..
144  4  154  62  31  284  32.8  0.237  23
188  8  109  76  39  114  27.9  0.640  31
17   7  107  74   0    0  29.6  0.254  31
255  1  113  64  35    0  33.6  0.543  21
513  2   91  62   0    0  27.3  0.525  22

[153 rows x 8 columns]

In [82]:
# 학습하기
model = svm.SVC()
model.fit(pima_train_data, pima_train_label)

SVC()

In [83]:
# 테스트하기
result = model.predict(pima_test_data)
result

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [84]:
#성능평가
score = metrics.accuracy_score(result, pima_test_label)
score

0.7170731707317073