<a href="https://colab.research.google.com/github/nsaedae/Colab/blob/master/Ch01.%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D%20%EA%B8%B0%EC%B4%88/3_Pandas_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 2022/04/25
이름 : 김철학
내용 : 파이썬 Pandas 패키지 실습

Pandas 라이브러리
 - 파이썬 자료구조 DataFrame 처리를 지원하는 라이브러리
 - DataFrame은 행과 컬럼으로 이루어진 구조체(데이베이스 테이블 구조)
"""
import pandas as pd

In [4]:
#DataFrame 생성
df1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
#컬럼명을 갖는 DataFrame 생성
df2 = pd.DataFrame({'uid':  ['a101', 'a102', 'a103', 'a104', 'a105'],
                    'name': ['김춘추', '김유신', '장보고', '강감찬', '이순신'],
                    'age' : [25, 27, 32, 41, 52]})

df2

    uid name  age
0  a101  김춘추   25
1  a102  김유신   27
2  a103  장보고   32
3  a104  강감찬   41
4  a105  이순신   52

In [6]:
# DataFrame 개별 출력
print(df1[0][0])
print(df1[0][1])
print(df1[1][2])
print(df2['uid'][0])
print(df2['name'][1])
print(df2['name'][4])

1
4
8
a101
김유신
이순신

In [19]:
#CSV파일로 DataFrame 생성
df_exam = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/exam.csv')
df_exam

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [ ]:
#기본 요약 통계
df_exam.describe()

In [ ]:
#상위 5개
df_exam.head()

In [ ]:
#하위 5개
df_exam.tail()

In [ ]:
#수학점수 60점 이상 출력
df_exam[df_exam.math >= 60]

In [ ]:
#수학점수 내림차순
df_exam.sort_values(by='math', ascending=False)

In [12]:
#영어점수 60 ~ 70, 내림차순
df_exam[(df_exam.english >= 60) & (df_exam.english < 70)].sort_values(by='english', ascending=False)

    id  class  math  english  science
16  17      5    65       68       98
18  19      5    89       68       87
10  11      3    65       65       65

In [ ]:
#파생변수
df_exam['total'] = df_exam.math + df_exam.english + df_exam.science
df_exam['mean']  = df_exam.total / 3
df_exam['grade'] = ['A' if s >= 90 else 
                    'B' if s >= 80 else 
                    'C' if s >= 70 else
                    'D' if s >= 60 else 'F' for s in df_exam['mean']]
df_exam

In [ ]:
#데이터프레임 인덱싱
#loc - 컬럼명 인덱싱
rs1 = df_exam.loc[:, 'math']
rs1

rs2 = df_exam.loc[1:3, :]
rs2

rs3 = df_exam.loc[1:4, ['math', 'english']]
rs3

rs4 = df_exam.loc[10:, ['math', 'english', 'science']]
rs4

#iloc - 인덱스번호 인덱싱
rs5 = df_exam.iloc[1:5, 2:4]
rs5

In [33]:
###################################################
# iris DataSet
import seaborn as sns

In [ ]:
df_iris = sns.load_dataset('iris')
df_iris

In [36]:
#info
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB