<a href="https://colab.research.google.com/github/nsaedae/Colab/blob/master/Ch01.%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D%20%EA%B8%B0%EC%B4%88/3_Pandas_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 2022/04/25
이름 : 김철학
내용 : 파이썬 Pandas 패키지 실습

Pandas 라이브러리
 - 파이썬 자료구조 DataFrame 처리를 지원하는 라이브러리
 - DataFrame은 행과 컬럼으로 이루어진 구조체(데이베이스 테이블 구조)
"""
import pandas as pd

In [4]:
#DataFrame 생성
df1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
#컬럼명을 갖는 DataFrame 생성
df2 = pd.DataFrame({'uid':  ['a101', 'a102', 'a103', 'a104', 'a105'],
                    'name': ['김춘추', '김유신', '장보고', '강감찬', '이순신'],
                    'age' : [25, 27, 32, 41, 52]})

df2

    uid name  age
0  a101  김춘추   25
1  a102  김유신   27
2  a103  장보고   32
3  a104  강감찬   41
4  a105  이순신   52

In [6]:
# DataFrame 개별 출력
print(df1[0][0])
print(df1[0][1])
print(df1[1][2])
print(df2['uid'][0])
print(df2['name'][1])
print(df2['name'][4])

1
4
8
a101
김유신
이순신

In [ ]:
#CSV파일로 DataFrame 생성
df_exam = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/exam.csv')
df_exam

In [ ]:
#기본 요약 통계
df_exam.describe()

In [ ]:
#상위 5개
df_exam.head()

In [ ]:
#하위 5개
df_exam.tail()

In [ ]:
#수학점수 60점 이상 출력
df_exam[df_exam.math >= 60]

In [ ]:
#수학점수 내림차순
df_exam.sort_values(by='math', ascending=False)

In [ ]:
#영어점수 60 ~ 70, 내림차순
df_exam[() & ()].sort_values(by='english', ascending=False)